.DS_Store
**/.DS_Store
.venv/
**/.venv/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
__pycache__/
**/__pycache__/
*.py[cod]
*.pkl
*.pickle
*.npy
*.npz
*.h5
*.hdf5
*.csv
*.zip
*.parquet
*.log
*.sqlite3
*.db
